<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Session Test</title>
</head>
<body>

<h1>Session Test</h1>

<form action="/web.ch3/session-counter">

	<select name="item">
		<option>The Born Identity</option>
		<option>The Born Supremacy</option>
		<option>The Born Ultimatum</option>
		<option>The Departed</option>
		<option>Good will hunting</option>
		<option>The Zero Theorem</option>
		<option>Green Zone</option>
	</select>
	
	<input type="submit" value="SEND" />	
</form>

<br />
<a href="/web.ch3/session-counter?clear=1">Clear Session</a>
<br />
<br />
<a href="javascript:history.back()">BACK</a>
</body>
</html>