<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet-tut4</display-name>
  <servlet>
    <display-name>RequestCounter</display-name>
    <servlet-name>RequestCounter</servlet-name>
    <servlet-class>com.jdc.serv4.RequestCounter</servlet-class>
  </servlet>
  <servlet>
    <display-name>SessionCounter</display-name>
    <servlet-name>SessionCounter</servlet-name>
    <servlet-class>com.jdc.serv4.SessionCounter</servlet-class>
  </servlet>
  <servlet>
    <display-name>ApplicationCounter</display-name>
    <servlet-name>ApplicationCounter</servlet-name>
    <servlet-class>com.jdc.serv4.ApplicationCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestCounter</servlet-name>
    <url-pattern>/request-counter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionCounter</servlet-name>
    <url-pattern>/session-counter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationCounter</servlet-name>
    <url-pattern>/application-counter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestCounter</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionCounter</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationCounter</servlet-name>
    <url-pattern>/application</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookiesCounter</display-name>
    <servlet-name>CookiesCounter</servlet-name>
    <servlet-class>com.jdc.serv4.CookiesCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesCounter</servlet-name>
    <url-pattern>/cookies</url-pattern>
  </servlet-mapping>
</web-app>