<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>servlet-tut3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IncludeServletTwo</servlet-name>
    <servlet-class>com.jdc.serv.include.IncludeServletTwo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardOne</servlet-name>
    <servlet-class>com.jdc.serv.forward.ForwardOne</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IncludeServletOne</servlet-name>
    <servlet-class>com.jdc.serv.include.IncludeServletOne</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.jdc.serv.forward.HeaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardTwo</servlet-name>
    <servlet-class>com.jdc.serv.forward.ForwardTwo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.jdc.serv.forward.FooterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectFrom</servlet-name>
    <servlet-class>com.jdc.serv.redirect.RedirectFrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServletTwo</servlet-name>
    <url-pattern>/IncludeServletTwo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardOne</servlet-name>
    <url-pattern>/ForwardOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncludeServletOne</servlet-name>
    <url-pattern>/IncludeServletOne</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardTwo</servlet-name>
    <url-pattern>/ForwardTwo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/FooterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectFrom</servlet-name>
    <url-pattern>/RedirectFrom</url-pattern>
  </servlet-mapping>

</web-app>